

li{
margin-right:auto;
list-style-type: none;
}
.imgcont{
  position: absolute;
  width: 100%; 
  object-fit: cover;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container ul{

  display:flex;
  text-align: center;
  font-size: 1.4em;  
  background-color: rgb(255, 255, 255);
 opacity:0.9;
 margin: 0;
}
.nav-container{
  transition-duration: 1s;
  text-align: center;
  width:80%;
 margin:auto;
 padding: 1px;
 
}
.nav-container li+li{
margin-left: 20px;
}
.nav-container ul li:hover{
  background-color: black; 
  color: white;
  transition-duration: 1s;
  }
  .nav-container ul>li{
    padding: 10px;
    float: left;
   
  }

  .visual{
opacity: 0.0;
  }